.log_form
{
  width: 300px;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  margin-bottom: 5px;
  padding: 8px;
  font-size: 12px;
}