*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-container
{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#comp,#indus{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}


